body {
background-image: url(Website\ Background.jpg);
font-size: 20px;
background-size: cover;
}
h1 {
    color: white;
    text-align-last: center;
}
h2 {
    color: white;
    text-align-last: left;
    
}
h3 {
    color: white;
    text-align-last: center;
    
}
h4 {
    color: white;
    text-align-last: right;
    
}

.list-view {
    display: flex inline-block;
    columns: 3;
    width: 100%;
  }

  .card{
      height: 600px;
      margin-bottom: 100px;
  }

img{
    height: 300px;
    width: 100%;
}   

.detail-view{
    height: 600px;
    text-align: center;
    word-spacing: normal;
}
.container{
    color: black;
}

.container1{
    margin-top: 100px;
    margin-left: 100px;
}

.card:hover { 
    background-color: black;
  }
  .card:hover { 
    color: white;
  }
  .card-body a:hover { 
    color: black;
  }
.top{
    width: 100%;
    background-color: lightgray;
}

.Image img {
    width: 350px;
}

.jumbotron{
    background-image: url("https://picserio.com/data/out/348/pc-master-race-wallpaper_5556092.jpg");
    background-size: contain;
    width: inherit;
}

.card-title a{  
    text-decoration: none;
    color: black;
}

