body {
background-image: url(Website\ Background.jpg);
font-size: 20px;
background-repeat: no-repeat;
width: 1170px;
}
h1 {
    color: white;
    text-align-last: center;
}
h2 {
    color: white;
    text-align-last: left;
    
}
h3 {
    color: white;
    text-align-last: center;
    
}
h4 {
    color: white;
    text-align-last: right;
    
}

.list-view {
    display: flex inline-block;
    columns: 3;
    width: 100%;
  }

  .card{
      height: 600px;
      margin-bottom: 100px;
  }

img{
    height: 300px;
    width: 100%;
}   

.detail-view{
    height: 600px;
    text-align: center;
    word-spacing: normal;
}
.display-4{
    color: blue;
}

.container1{
    margin-top: 100px;
    margin-left: 100px;
}

.card:hover { 
    background-color: royalblue;
  }
  .card:hover { 
    color: white;
  }

  .card-body a:hover { 
    color: white;
  }
.top{
    width: 1300px;
    background-color: lightgray;
}

.Image img {
    width: 350px;
}